body {margin:0;}

.topnav {
  overflow: hidden;
  background-color:#ff9e3e;
  font-family: "Cooper Black"
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #a65300;
  color: #400000;
}

.topnav a.active {
    background-color: #a65300;
    color: #808080;
}

.button {
    background-color: #ff9e3e;
    border: none;
    color: #ffffff;
    height: 20px;
    width: justify;
    top:20%; 
    padding: 15px 32px;
    text-align: center;
    align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: grey; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popup-content {
    background-color: #ff9e3e;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #400040;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: italic;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*TextArea*/
.textarea {
    margin: 20px; 
    height: 150px; 
    width: 300px; 
    padding: 10px 42px 58px 20px;
    z-index: auto; 
    position: relative; 
    line-height: BOLD; 
    font-size: 13.3333px; 
    transition: none; 
    background-color: #d3d3d3;
    border: medium;
    border-color:#000000;
    align:center;
}
.input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000040;
  border-radius: 4px;
  box-sizing: border-box;
}

.input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=submit]:hover {
  background-color: #45a049;
}




